<div class="w-[80%] p-3 flex bg-white rounded-2xl items-center">
    <div class="rounded-xl bg-gray-300 w-[25%] h-[80px]">
        <img src="" alt="image-product" class="h-full">
    </div>
    <div class="flex flex-col ml-3">
        <span class="font-medium">Lorem</span>
        <span class="font-gray-500 text-sm">$225.00</span>
        <span>Size: US 7</span>
        <button mat-mini-fab class="h-[28px] w-[28px] flex items-center justify-center bg-gray-400"><mat-icon class="">favorite</mat-icon></button>
    </div>
    <div class="flex h-full items-center justify-center gap-2 ml-9">
        <button class="bg-gray-300 flex items-center justify-center rounded-md"><mat-icon>remove</mat-icon></button>
        <span>1</span>
        <button class="bg-gray-300 flex items-center justify-center rounded-md"><mat-icon>add</mat-icon></button>
    </div>
</div>