<app-nav-bar></app-nav-bar>
<main class="w-full bg-gray-200 h-[100vh] flex items-center justify-center">
    <div class="w-[45%] p-3 flex flex-col gap-4">

        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
    </div>

</main>
<router-outlet></router-outlet>