<mat-toolbar class="w-full flex items-center justify-between">
    <span class="font-bold">Store</span>
    <ul class="flex gap-3 items-center">
        <li><button mat-stroked-button color="primary" >Home</button></li>
        <li><button mat-stroked-button color="primary">Products</button></li>
        <li><button mat-fab color="primary"><mat-icon>shopping_cart</mat-icon></button></li>
    </ul>
</mat-toolbar>